<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>页面按钮</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    
    
    
<div th:include="include::footer"></div>
<script type="text/javascript" th:inline="none">
layui.use(['form'], function () {
    var $ = layui.jquery,
        form = layui.form;
    
    
    $.ajax({
        url: "/button/all/power",
        type : "POST",
　　               dataType : "json",
　　               contentType: "application/json;charset=utf-8",
        headers: { "Authorization": authorization,"dz-usr":authUser.uid },//通过请求头来发送token，放弃了通过cookie的发送方式
        success:function(data){
            if(data.success){
                var html = "";
                data.data.list.forEach(function(item){
                    html += "<option vaue="+item.CODE+"> "+item.CODE+" </option>"
                });
                $("#code").append(html);
                form.render();
            }else{
                layer.msg(data.msg);
            }
        }
    });
    })
</script>
</body>
</html>