<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>资源列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
    	
    	<!-- 
    	<div class="layui-btn-container">
             <div class="layui-inline" lay-event="add"><i class="iconfont"  data-toggle="tooltip" title="添加" >&#xeb8f;</i></div>
        </div>
    	 -->
        <script type="text/html" id="toolbarDemo">
            
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <!-- <a class="layui-icon layui-icon-edit" style="font-size: 24px; color: #1E9FFF;cursor: pointer;" lay-event="edit" title="修改"></a>
            <a class="layui-icon layui-icon-delete" style="font-size: 24px; color: #1E9FFF;cursor: pointer;" lay-event="delete" title="删除"></a> -->
        <script type="text/html" id="currentTableBar">
            
        </script>

    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="none">
var dataRow,table;
var currentPage = 1;
var jsonEntity = null;
layui.use(['form', 'table'], function () {
    var $ = layui.jquery,
        form = layui.form;
        table = layui.table;
        _init_buttons_common();
    loadTickets();
    
    /**
     * toolbar监听事件
     */
    table.on('toolbar(currentTableFilter)', function (obj) {
        if (obj.event === 'add') {  // 监听添加操作
        	openPopUp('角色添加','ADD_ROLE_PAGE');///admin/resource/add
        } else if (obj.event === 'delete') {  // 监听删除操作
            var checkStatus = table.checkStatus('currentTableId')
                , data = checkStatus.data;
        	var idArr = [];
        	$.each(data,function(index,xx){
        		idArr.push(xx.id);
        		DELETE("/resource/menu/"+idArr.join(','));
        	})
        }
    });
    table.on('tool(currentTableFilter)', function (obj) {
        dataRow = obj.data;
        if (obj.event === 'edit') {
            openPopUp('角色修改','UPDATE_ROLE_PAGE');
            return false;
        } else if (obj.event === 'delete') {
        	DELETE("/role/"+dataRow.id);
        }
    });
});

function loadTickets(){
	table.render({
        elem: '#currentTableId',
        url: getRootPath() + '/role/all',
        headers: { "Authorization": authorization },//通过请求头来发送token，放弃了通过cookie的发送方式
        where:{"roleId":authUser.roleId,"userId":authUser.uid},
        async : false,
        toolbar: '#toolbarDemo',
        defaultToolbar: ['filter', 'exports', 'print', {
            title: '提示',
            layEvent: 'LAYTABLE_TIPS',
            icon: 'layui-icon-tips'
        }],
        cols: [[
            {type: "checkbox"},
            {field: 'code',title: '角色编码', sort: true},
            {field: 'name',title: '角色名称', sort: true},
            {field: 'id',title: 'id', hide:true},
            {field: 'status',  title: '状态', sort: true,
				templet : function(row) {
					if(row.status == 1){
						return "正常";
					}
					return "禁用";
			}},
			{field: 'createTime', title: '创建时间'},
            {title: '操作', toolbar: '#currentTableBar', align: "center",width:'20%'}
        ]],
        limits: [5, 10, 20, 25, 50, 100],
        limit: 10,
        page: true,
        skin: 'line',
        done : function(res, curr, count) {
			currentPage = curr;
		}
    });
}
//刷新
function flush(currentPage) {
	table.reload('currentTableId', {
		page : {
			curr : currentPage
		}
	});
}
</script>

</body>
</html>