<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<head>
    <meta charset="utf-8">
    <title>按钮添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-form-pane .layui-form-label{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form _custom_form">
    <div class="layui-form-item">
        <label class="layui-form-label required">按钮名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" lay-reqtext="按钮名称" placeholder="按钮名称" value="" class="layui-input">
            <tip>填写按钮名称。</tip>
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">按钮类型</label>
        <div class="layui-input-block">
          <select name="type" id="data" lay-search="" lay-filter="data" class="form-control m-b" lay-verify="required">
            <option value="1">顶部</option>
            <option value="2">右侧</option>
          </select>
        </div>
    </div>
   
    <div class="layui-form-item" >
        <label class="layui-form-label required">按钮标识</label>
        <div class="layui-input-inline">
           <input type="text" class="layui-input" name="event" id="" placeholder="event" lay-verify="required"> 
        </div>
    </div>
    
    <div class="layui-form-item" >
        <label class="layui-form-label required">图标</label>
        <div class="layui-input-inline">
           <input type="text" class="layui-input" name="icon" id="" placeholder="icon" lay-verify="required"> 
        </div>
        <div class="layui-form-mid layui-word-aux">只支持Unicode格式 例如：<a>&<a>#xeba5;</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block _submitBtn">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
 <script>
 layui.use(['form','laydate'], function () {
	 var form = layui.form,
     $ = layui.$,
         layer = layui.layer;
	 form.on('submit(saveBtn)', function (data) {
         console.log(data.field)
         ADD("/button/info",data.field,false);
         return false;
     });
 })
 
 </script>
 
</body>
</html>