<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.AlarmMapper">
  <resultMap id="BaseResultMap" type="com.kiwihouse.dao.entity.Alarm">
    <id column="alarm_id" jdbcType="INTEGER" property="alarmId" />
    <result column="alarm_msg" jdbcType="VARCHAR" property="alarmMsg" />
    <result column="imei" jdbcType="VARCHAR" property="imei" />
    <result column="eqpt_sn" jdbcType="VARCHAR" property="eqptSn" />
    <result column="alarm_status" jdbcType="BIT" property="alarmStatus" />
    <result column="alarm_type" jdbcType="BIT" property="alarmType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    alarm_id, alarm_msg, imei, eqpt_sn, alarm_status, alarm_type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kiwihouse.dao.entity.Alarm">
    insert into alarm (alarm_id, alarm_msg, imei, 
      eqpt_sn, alarm_status, alarm_type, 
      add_time)
    values (#{alarmId,jdbcType=INTEGER}, #{alarmMsg,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, 
      #{eqptSn,jdbcType=VARCHAR}, #{alarmStatus,jdbcType=BIT}, #{alarmType,jdbcType=BIT}, 
      #{NEW(),jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kiwihouse.dao.entity.Alarm">
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="alarmId != null">
        alarm_id,
      </if>
      <if test="alarmMsg != null">
        alarm_msg,
      </if>
      <if test="imei != null">
        imei,
      </if>
      <if test="eqptSn != null">
        eqpt_sn,
      </if>
      <if test="alarmStatus != null">
        alarm_status,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="alarmId != null">
        #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="alarmMsg != null">
        #{alarmMsg,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="eqptSn != null">
        #{eqptSn,jdbcType=VARCHAR},
      </if>
      <if test="alarmStatus != null">
        #{alarmStatus,jdbcType=BIT},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kiwihouse.dao.entity.Alarm">
    update alarm
    <set>
      <if test="alarmMsg != null">
        alarm_msg = #{alarmMsg,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="eqptSn != null">
        eqpt_sn = #{eqptSn,jdbcType=VARCHAR},
      </if>
      <if test="alarmStatus != null">
        alarm_status = #{alarmStatus,jdbcType=BIT},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kiwihouse.dao.entity.Alarm">
    update alarm
    set alarm_msg = #{alarmMsg,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      eqpt_sn = #{eqptSn,jdbcType=VARCHAR},
      alarm_status = #{alarmStatus,jdbcType=BIT},
      alarm_type = #{alarmType,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
  
  <insert id="insertBatch" parameterType="java.util.List">
        insert into alarm(alarm_msg,imei,eqpt_sn,alarm_status,alarm_type,add_time)
		values
		<foreach item="alarm" collection="list" index="index"  separator="," >
			(#{alarm.alarmMsg},
			#{alarm.imei},
			#{alarm.eqptSn},
			#{alarm.alarmStatus},
			#{alarm.alarmType},
			NOW())
		</foreach>
  </insert>
  
  <select id="queryAlarm" resultType="com.kiwihouse.dto.AlarmEqptDto"
           parameterType="map">
				SELECT a.*,e.eqpt_name,e.province,e.city,e.district,e.eqpt_addr,c.phone as ctsPhone FROM `alarm` a 
				LEFT JOIN equipment e on a.imei = e.imei 
				Left JOIN contacts c on e.user_id = c.user_id 
				
				<where>
			and alarm_type != ''
			and if_delete = 0
            <if test="almQueryVo.imei != null and almQueryVo.imei != ''">
                and a.imei like CONCAT('%',#{almQueryVo.imei},'%')
            </if>
            <if test="almQueryVo.eqptType != null and almQueryVo.eqptType != ''">
                and a.eqpt_type = #{almQueryVo.eqptType}
            </if>
            <if test="almQueryVo.province != null and almQueryVo.province != ''">
                and e.province=#{almQueryVo.province}
            </if>
            <if test="almQueryVo.city != null and almQueryVo.city != ''">
                and e.city=#{almQueryVo.city}
            </if>
            <if test="almQueryVo.district != null and almQueryVo.district != ''">
                and e.district=#{almQueryVo.district}
            </if>
            <if test="list != null  and list.size() > 0">
                and e.imei in(
                <foreach collection="list" item="item" index="index" separator=",">
                    #{item.imei}
                </foreach>
                ) 
            </if>
            <if test="almQueryVo.eqptAddr != null and almQueryVo.eqptAddr != ''">
                and e.eqpt_addr like CONCAT('%',#{almQueryVo.eqptAddr},'%')
            </if>
            <if test="almQueryVo.alarmType != null and almQueryVo.alarmType != '' ">
            	and FIND_IN_SET( #{almQueryVo.alarmType}, a.alarm_type)
            </if>
            <if test="almQueryVo.startTime != null and almQueryVo.startTime != ''">
            	and DATE_FORMAT(a.add_time,'%Y-%m-%d %H:%i:%S') between #{almQueryVo.startTime} and #{almQueryVo.endTime}
            </if>
		</where>
		GROUP BY a.alarm_id
        order by a.add_time desc
        <if test="almQueryVo.limit != null">
        	limit #{almQueryVo.page},#{almQueryVo.limit}
        </if>
    </select>
    
    <select id="queryAlarmCount" resultType="Integer" parameterType="map">
				SELECT count(*) FROM(
					SELECT a.alarm_id FROM `alarm` a 
					LEFT JOIN equipment e on a.imei = e.imei 
					Left JOIN contacts c on e.user_id = c.user_id 
					where alarm_type != '' 
					and if_delete  = 0
					<if test="almQueryVo.imei != null and almQueryVo.imei != ''">
                		and a.imei like CONCAT('%',#{almQueryVo.imei},'%')
		            </if>
		            <if test="almQueryVo.eqptType != null and almQueryVo.eqptType != ''">
		                and a.eqpt_type = #{almQueryVo.eqptType}
		            </if>
		            <if test="almQueryVo.province != null and almQueryVo.province != ''">
		                and e.province=#{almQueryVo.province}
		            </if>
		            <if test="almQueryVo.city != null and almQueryVo.city != ''">
		                and e.city=#{almQueryVo.city}
		            </if>
		            <if test="almQueryVo.district != null and almQueryVo.district != ''">
		                and e.district=#{almQueryVo.district}
		            </if>
		             <if test="list != null and list.size() > 0">
		                and e.imei in(
		                <foreach collection="list" item="item" index="index" separator=",">
		                    #{item.imei}
		                </foreach>
		                ) 
		            </if>
		            <if test="almQueryVo.eqptAddr != null and almQueryVo.eqptAddr != ''">
		                and e.eqpt_addr like CONCAT('%',#{almQueryVo.eqptAddr},'%')
		            </if>
		            <if test="almQueryVo.alarmType != null and almQueryVo.alarmType != '' ">
		            	and FIND_IN_SET( #{almQueryVo.alarmType}, a.alarm_type)
		            </if>
		            <if test="almQueryVo.startTime != null and almQueryVo.startTime != ''">
		            	and DATE_FORMAT(a.add_time,'%Y-%m-%d %H:%i:%S') between #{almQueryVo.startTime} and #{almQueryVo.endTime}
		            </if>
		             GROUP BY a.alarm_id
					) t
				<where>
		</where>
    </select>
    <update id="updateAlmSta">
        update alarm set alarm_status=#{almSta} where alarm_id=#{alarmId}
    </update>
    <!-- 时间范围内 设备告警数量 -->
    <select id="timeAlarmCount" resultType="Integer" parameterType="com.kiwihouse.vo.kiwihouse.DataStatisticsVo">
    	SELECT count(*) FROM(
				SELECT * FROM alarm where 1 = 1
					<if test="eqptType != null and eqptType != '' ">
						and eqpt_type in(
						<foreach collection="eqptType.split(',')" item="item" index="index" separator=",">
							#{item}
						</foreach>
	            	 	) 
			        </if>
			    	<if test="dataStatisticsVo.startTime != null and dataStatisticsVo.startTime != ''">
			        <![CDATA[ and DATE_FORMAT(add_time,'%Y-%m-%d') between #{dataStatisticsVo.startTime} and #{dataStatisticsVo.endTime}]]>
			        </if>
			        <if test="list != null and list.size() > 0">
                        and imei in(
                        <foreach collection="list" item="item" index="index" separator=",">
                            #{item.imei}
                        </foreach>
                        ) 
                    </if>
					 <if test="dataStatisticsVo.imei != null and dataStatisticsVo.imei !=''">
        			 and imei = #{dataStatisticsVo.imei}
        			</if>
				GROUP BY imei) t
    </select>
    <!-- 根据时间范围 和告警类型查询告警 -->
    <select id="selectByTimesAndType" resultType="com.kiwihouse.dao.entity.DataTimeNum" parameterType="map">
    	<!-- SELECT  add_time, num FROM(
		SELECT imei,add_time,alarm_id ,count(*) num FROM(
		SELECT imei,alarm_id,SUBSTRING(add_time FROM 1 FOR 10) add_time FROM alarm 
		WHERE 1=1
		<if test="dataStatisticsVo.startTime !=null and dataStatisticsVo.startTime!=''">
                and DATE_FORMAT(add_time,'%Y-%m-%d') between #{dataStatisticsVo.startTime} and #{dataStatisticsVo.endTime}
         </if>
		<if test="alarmType != null and alarmType != ''">
            	and FIND_IN_SET( #{alarmType}, alarm_type) 
        </if>
        <if test="list != null and list.size() > 0">
                and imei in(
                <foreach collection="list" item="item" index="index" separator=",">
                    #{item.imei}
                </foreach>
                ) 
        </if>
        <if test="dataStatisticsVo.imei != null and dataStatisticsVo.imei !=''">
        		and imei = #{dataStatisticsVo.imei}
        </if>
		ORDER BY add_time
		)t GROUP BY add_time) as t1 -->
		  
		 select sum(num) as num ,add_time FROM (
		 SELECT count(1) as num,alarm_type,add_time,imei FROM (
		    select IMEI,count(1) as num,alarm_type,if_delete,SUBSTRING(add_time FROM 1 FOR 10) 
		    add_time  FROM alarm where 1 = 1 
		    <if test="dataStatisticsVo.startTime !=null and dataStatisticsVo.startTime!=''">
                and DATE_FORMAT(add_time,'%Y-%m-%d') between #{dataStatisticsVo.startTime} and #{dataStatisticsVo.endTime}
            </if>
		    and FIND_IN_SET( #{alarmType}, alarm_type) 
		    <if test="list != null and list.size() > 0">
                and imei in(
                <foreach collection="list" item="item" index="index" separator=",">
                    #{item.imei}
                </foreach>
                ) 
            </if>
		    GROUP BY alarm_type,add_time ) as t GROUP BY add_time,alarm_type
		 ) as t2 GROUP BY add_time
    </select>
    <!-- 根据时间范围  imei 查询 记录总数 -->
    <select id="selectByTimeAndTypeCount" resultType="Integer">
    	SELECT  SUM(num) FROM(
		SELECT imei,add_time,alarm_id ,count(*) num FROM(
		SELECT imei,alarm_id,SUBSTRING(add_time FROM 1 FOR 10) add_time FROM alarm  
		WHERE 1=1 and if_delete = 0
		<if test="dataStatisticsVo.startTime !=null and dataStatisticsVo.startTime!=''">
                and DATE_FORMAT(add_time,'%Y-%m-%d %H:%i:%S') between #{dataStatisticsVo.startTime} and #{dataStatisticsVo.endTime}
         </if>
		<if test="alarmType != null and alarmType != ''">
            	and FIND_IN_SET( #{alarmType}, alarm_type) 
        </if>
         <if test="dataStatisticsVo.imei != null and dataStatisticsVo.imei !=''">
        		and imei = #{dataStatisticsVo.imei}
        </if>
		ORDER BY add_time
		)t GROUP BY add_time) as t1
    </select>
 
    <insert id="insertOrUpdateBatch"
            parameterType="com.kiwihouse.dto.MtInfoDto"  useGeneratedKeys="true" >
        INSERT INTO maintain_info
        (alarm_id,
         alarm_msg,
         imei,
         alarm_status,
         alarm_type,
         add_time,
         eqpt_type)
         VALUES
        <foreach item="t" collection="list" index="index"  separator="," >
			(
			#{t.alarmId},
			#{t.alarmMsg},
			#{t.imei},
			#{t.alarmStatus},
			#{t.alarmType},
			NOW(),
			#{t.eqptType}
			)
		</foreach>
         
		ON DUPLICATE KEY UPDATE 
		alarm_id = VALUES(alarm_id),
		imei = VALUES(imei),
		alarm_msg = VALUES(alarm_msg),
		alarm_status = VALUES(alarm_status),
		alarm_type = VALUES(alarm_type),
		add_time = VALUES(add_time),
		eqpt_type = VALUES(eqpt_type)
		
    </insert>
    
    <update id="clearDevAlarms" parameterType="String">
    	update alarm set if_delete = 1 where imei=#{imei}
    </update>
    
    <select id="selectCode" resultType="com.kiwihouse.web.ReturnCode">
        select * from return_code
    </select>
    
    <select id="selectDevAlarmList" resultType="com.kiwihouse.dto.DevAlarmListDto">
        SELECT t1.alarmAcount,e.eqpt_name as devName FROM (
		select imei,sum(count * (CHAR_LENGTH(alarm_type)-CHAR_LENGTH(REPLACE(alarm_type,',','')) + 1)) as alarmAcount FROM (
		SELECT imei, alarm_type ,count(1) as count
		FROM alarm
		WHERE 1 = 1
		  and if_delete = 0
		  and  add_time between #{startTime} and #{endTime}
		  AND alarm_type != '' 
			<choose>
		         <when test="isAdmin">
		         
		         </when>
		         <otherwise>
		             <choose>
		                 <when test="imeiList == null">
		                      and imei is null
		                 </when>
		                 <otherwise>
		                     and imei in(
		                       <foreach collection="imeiList" item="item" index="index" separator=",">
		                           #{item.imei}
		                       </foreach>
		                       ) 
		                 </otherwise>
		             </choose>
		         </otherwise>
		       </choose>
		    group by alarm_type,imei
		    ) as tem GROUP BY IMEI ) as t1 INNER JOIN equipment e on t1.imei = e.imei
		ORDER BY t1.alarmAcount
    </select>
    
    <select id="selectDataStatis" resultType="com.kiwihouse.dao.entity.DataList">
        SELECT add_time,alarm_type,sum(num) num from(
		    SELECT t.add_time, 
			       substring_index(substring_index(t.alarm_type,',', b.help_topic_id + 1), ',', -1) alarm_type,num
			FROM (
			SELECT imei,alarm_id,DATE_FORMAT(add_time,'%Y-%m-%d') add_time ,alarm_type,count(1) num FROM alarm WHERE alarm.alarm_type != '' 
			and if_delete = 0 and DATE_FORMAT(add_time,'%Y-%m-%d %H:%i:%S') between #{dataStatisticsVo.startTime} and #{dataStatisticsVo.endTime}
			<choose>
                 <when test="isAdmin">
                 
                 </when>
                 <otherwise>
                     <choose>
                         <when test="imeiList == null">
                              and imei is null
                         </when>
                         <otherwise>
                             and imei in(
                               <foreach collection="imeiList" item="item" index="index" separator=",">
                                   #{item.imei}
                               </foreach>
                               ) 
                         </otherwise>
                     </choose>
                 </otherwise>
            </choose>
			GROUP BY  alarm.alarm_type, DATE_FORMAT(add_time,'%Y-%m-%d') 
			) as t inner join mysql.help_topic b 
			ON b.help_topic_id &lt;  (LENGTH(t.alarm_type) - LENGTH(REPLACE(t.alarm_type, ',', '')) + 1)
			) as t2 GROUP BY add_time,alarm_type
    </select>
</mapper>