<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.MenuBtnMapper">
    <resultMap id="MenuButtonsMap" type="com.kiwihouse.dao.entity.MenuButton">
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="button_id" jdbcType="INTEGER" property="buttonId"/>
    </resultMap>
    <resultMap id="ButtonsMap" type="com.kiwihouse.dao.entity.Buttons">
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
    </resultMap>
   <select id="buttonListById" parameterType="Integer" resultMap="ButtonsMap">
       SELECT * FROM menu_btn rb 
		inner JOIN button b on rb.button_id = b.id 
        where 1 = 1
        <if test="roleId != null and roleId != ''">
          and rb.role_id = #{roleId}
        </if>
        <if test="menuId != null and menuId != ''">
          and rb.menu_id = #{menuId}
        </if>
    </select>
    <insert id="insertOrUpdateBatch"
            parameterType="com.kiwihouse.dao.entity.MenuBtnModel"   keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO menu_btn
        (
         button_id,
         menu_id,
         role_id)
         VALUES
        <foreach item="t" collection="list" index="index"  separator="," >
            (
            #{t.buttonId},
            #{t.menuId},
            #{t.roleId}
            )
        </foreach>
         
        ON DUPLICATE KEY UPDATE 
        button_id = VALUES(button_id),
        menu_id = VALUES(menu_id),
        role_id = VALUES(role_id)
    </insert>
    
    <delete id="delete">
    delete from menu_btn where role_id =#{roleId}
  </delete>
  <resultMap id="BaseResultMap" type="com.kiwihouse.dao.entity.Buttons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="event" jdbcType="VARCHAR" property="event" />
  </resultMap>
  <resultMap id="ResBtnModelMap" type="com.kiwihouse.dao.entity.ResBtnModel">
  </resultMap>
  
  <select id="queryInfo" resultMap="ResBtnModelMap">
        <!-- SELECT GROUP_CONCAT(bt.title) titles,GROUP_CONCAT(bt.icon) icons,GROUP_CONCAT(bt.id) ids,sm.`NAME`,GROUP_CONCAT(bt.type) types FROM menu_btn_model rbm 
		LEFT JOIN sys_menu sm on rbm.menu_id = sm.id 
		LEFT JOIN button bt on bt.id = rbm.button_id 
		WHERE sm.id in (SELECT menu_id FROM auth_role_menu 
		            WHERE 1 = 1
		            <if test="roleId != null and roleId != ''">
		              AND role_id = #{roleId}
		            </if>
		            AND sm.page_type = 1 )
        GROUP BY sm.ID  -->
        SELECT GROUP_CONCAT(bt.title) titles,GROUP_CONCAT(bt.icon) icons,GROUP_CONCAT(bt.id) ids,sm.`NAME`,GROUP_CONCAT(bt.type) types FROM sys_menu sm 
        LEFT JOIN menu_btn_model rbm on sm.id = rbm.menu_id  
        LEFT JOIN button bt on bt.id = rbm.button_id
        WHERE page_type = 1 AND sm.id in (SELECT menu_id FROM auth_role_menu 
                    WHERE 1 = 1
                  <if test="roleId != null and roleId != ''">
                      AND role_id = #{roleId}
                    </if>
                    AND sm.page_type = 1 )
        GROUP BY sm.ID 
        <if test="limit != null">
            limit #{page},#{limit}
        </if>
  </select>
  <select id="queryCount" resultType="Integer">
       <!--  SELECT count(*) from (
			SELECT GROUP_CONCAT(bt.title) titles,GROUP_CONCAT(bt.icon) icons,GROUP_CONCAT(bt.id) ids,sm.`NAME` FROM menu_btn_model rbm 
        INNER JOIN sys_menu sm on rbm.menu_id = sm.id 
        INNER JOIN button bt on bt.id = rbm.button_id 
        WHERE sm.id in (SELECT menu_id FROM auth_role_menu 
                    WHERE 1 = 1
                    <if test="roleId != null and roleId != ''">
                      AND role_id = #{roleId}
                    </if>
                    AND sm.page_type = 1 )
        GROUP BY sm.ID ) as tem -->
        SELECT count(*) FROM (  SELECT GROUP_CONCAT(bt.title) titles,GROUP_CONCAT(bt.icon) icons,GROUP_CONCAT(bt.id) ids,sm.`NAME`,GROUP_CONCAT(bt.type) types FROM sys_menu sm 
        LEFT JOIN menu_btn_model rbm on sm.id = rbm.menu_id  
        LEFT JOIN button bt on bt.id = rbm.button_id
        WHERE page_type = 1 AND sm.id in (SELECT menu_id FROM auth_role_menu 
                    WHERE 1 = 1
                  <if test="roleId != null and roleId != ''">
                      AND role_id = #{roleId}
                    </if>
                    AND sm.page_type = 1 )
        GROUP BY sm.ID ) as tem
  </select>
  <insert id="addModelBtn"  parameterType="com.kiwihouse.dao.entity.MenuBtnModel"   keyProperty="id" useGeneratedKeys="true" >
         INSERT INTO menu_btn_model
        (
         button_id,
         menu_id)
         VALUES
        <foreach item="t" collection="list" index="index"  separator="," >
            (
            #{t.buttonId},
            #{t.menuId}
            )
        </foreach>
  </insert>
  
  <insert id="addOrUpdModelBtn" parameterType="com.kiwihouse.dao.entity.MenuBtnModel"   keyProperty="id" useGeneratedKeys="true">
         INSERT INTO menu_btn_model
        (
         button_id,
         menu_id)
         VALUES
        <foreach item="t" collection="list" index="index"  separator="," >
            (
            #{t.buttonId},
            #{t.menuId}
            )
        </foreach>
         
        ON DUPLICATE KEY UPDATE 
        button_id = VALUES(button_id),
        menu_id = VALUES(menu_id)
  </insert>
  
  <delete id="deleteModelBtn">
        delete from menu_btn_model where menu_id =#{menuId}
  </delete>
</mapper>