<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwihouse.dao.mapper.ResourceButtonMapper">
	<resultMap id="ResourceButtonsMap" type="com.kiwihouse.dao.entity.ResourceButtons">
        <result column="resource_id" jdbcType="INTEGER" property="resourceId"/>
	</resultMap>


	<select id="buttonListById" parameterType="Integer" resultMap="ResourceButtonsMap">
		select * from resource_buttons where resource_id =#{resourceId}
	</select>
</mapper>